.main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 12vh;
}
.details{
    height: 30%;
    display: flex;
    width: 90%;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    margin: auto;
}
.orders{
    width: 90%;
    padding: 1rem;
    margin: auto;
}