.form{
    display: flex;
    flex-direction: column;

}
.amt{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 100%;

}
.label{
    width: 32%;
    margin: auto 0px;
    font-weight: bold;
    
}
.input{
    border-radius: 6px;
    width: 16%;
    font-size: 1rem;
    font-weight: bold;
}
.btn{
    width: 80%;
    margin: auto;
}
.add{
    width: 16%;
}
.sub{
    width: 16%;
}